#!/usr/bin/make -f

#export DH_VERBOSE=1

build:
	#lunit is not packaged yet - can't run tests
	#$(MAKE) check

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
	#nothing to do - arch:all package

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
